name: CI

on:
  pull_request:
    branches: ["*"]
  push:
    branches: ["main"]

env:
  DOTNET_VERSION: '8.0.x'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
          cache: true

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

  tests:
    needs: build
    uses: ./.github/workflows/jobs/tests.yml
