name: Run Tests

on:
  workflow_call:
    inputs:
      test-project:
        required: true
        type: string
      dotnet-env:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup .NET
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: ${{ inputs.dotnet-env }}
            cache: true
            cache-dependency-path: '**/packages.lock.json'

        - name: Test
          run: dotnet test ${{ inputs.test-project }} --configuration Release --verbosity normal
